*{word-spacing:0;letter-spacing:0;margin: 0;padding: 0;font-family: Dotum;list-style: none;text-decoration: none}
.blind{width:0;height:0;opacity: 0;line-height: 0;font-size: 0}
a{color: black}


header{height: 150px}
.topHeader{position: relative;width: 1200px; height: 36px; margin: 0 auto;}
.topHeader ul{overflow: hidden; position: absolute; right: 0}
.topHeader ul li{float: left}
.topHeader ul a{display: inline-block; height: 36px;border-left: 1px solid #dcdcdc; box-sizing: border-box}
.headerIcon_1{width: 120px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/partner.png")}
.headerIcon_2{width: 142px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/market.png")}
.headerIcon_3{width: 30px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/header_face.png")}
.headerIcon_4{width: 30px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/header_blog.png")}
.headerIcon_5{width: 30px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/header_insta.png");border-right:1px solid #dcdcdc; box-sizing: border-box }

.menuSec{height: 114px; width: 100%; border-bottom: 1px solid #dcdcdc; border-top: 1px solid #dcdcdc; box-sizing: border-box}
.menu{position: relative;width: 1200px; margin: 0 auto;}
.mainLogo{position: absolute;top:42px;display: block; width:227px; height: 30px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/logo.png")}
.menu ul{position:absolute; right:174px;top:52px;overflow: hidden}
.menu ul li{float: left; margin-left: 70px}
.menu ul li:first-child{margin-left: 0}
.menu ul a{font-size: 20px; font-weight: bold}
.menu .listView{position:absolute;top:36px;right:54px;display: block; width: 50px; height: 40px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_menu.png")}
.menu .search{position: absolute;top:36px;right: 0;display: block; width: 50px; height: 40px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_search.png")}

#containerBg{width: 100%;height: 1000px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/bg_container.gif")}
#container{width: 1200px;height: 1000px;margin:0 auto;}
#container:after{display: block; clear: both; content: ""}
#container .visual{float:left;width: 716px; height: 474px; margin-top:120px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/main_visual.jpg")}
#container .contents_1{float:right;width: 474px; margin-top:120px;position: relative}
#container .contents_1:after{display: block; clear: both; content: ""}
#container .contents_1>div{float:left;width: 232px; height: 232px; border: 1px solid #cccccc; box-sizing: border-box; background-color: white}
#container .contents_1 .content_1{position: relative}
#container .contents_1 .content_1 h3{font-size: 13px; color: #464646; margin: 14px 0 0 16px}
#container .contents_1 .content_1 .mail{width: 69px; height: 51px;margin: 0 auto; margin-top: 50px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/img_mail.png")}
#container .contents_1 .content_1 dl{position: absolute;left: 16px; bottom: 22px; font-weight: bold}
#container .contents_1 .content_1 dt{font-size: 18px;}
#container .contents_1 .content_1 dd{font-size: 15px; color: #b9b9b9}
#container .contents_1 .content_1 .plusBtn{position: absolute; width:33px; height:33px;display: block; bottom: 20px; right: 16px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/plus.png")}
#container .contents_1 .content_2{position:relative;margin-left: 10px}
#container .contents_1 .content_2 h3{font-size: 13px; color: #464646; margin: 14px 0 0 16px}
#container .contents_1 .content_2 .docImg{width: 55px; height: 65px;margin: 0 auto; margin-top: 44px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/img_document.png")}
#container .contents_1 .content_2 dl{position: absolute;left: 16px; bottom: 22px; font-weight: bold;}
#container .contents_1 .content_2 dt{font-size: 18px;}
#container .contents_1 .content_2 dd{font-size: 15px; color: #b9b9b9}
#container .contents_1 .content_2 .plusBtn{position: absolute; width:33px; height:33px;display: block; bottom: 20px; right: 16px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/plus.png")}

#container .contents_1 .content_3{position:relative;margin-top: 10px}
#container .contents_1 .content_3 h3{font-size: 13px; color: #464646; margin: 14px 0 0 16px}
#container .contents_1 .content_3 .mobileImg{width: 50px; height: 67px;margin: 0 auto; margin-top: 42px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/img_mobile.png")}
#container .contents_1 .content_3 dl{position: absolute;left: 16px; bottom: 22px; font-weight: bold;}
#container .contents_1 .content_3 dt{font-size: 18px;}
#container .contents_1 .content_3 dd{font-size: 15px; color: #b9b9b9}
#container .contents_1 .content_3 .plusBtn{position: absolute; width:33px; height:33px;display: block; bottom: 20px; right: 16px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/plus.png")}

#container .contents_1 .content_4{position:relative;height: 474px;margin-top: 10px;margin-left: 10px}
#container .contents_1 .content_4 .aptImg{width: 230px; height: 230px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/img_issue_01.jpg")}
#container .contents_1 .content_4 h3{font-size: 13px; margin: 14px 0 0 16px; color:#464646 }
#container .contents_1 .content_4 .aptTitle{display:block;font-size: 18px; font-weight: bold;margin-top: 20px;margin-left: 10px}
#container .contents_1 .content_4 span{display:block; width:210px;margin:0 auto;font-size: 12px; color: #555555;margin-top: 10px}
#container .contents_1 .content_4 .rensumCon{display: none}
#container .contents_1 .content_4 .cloudCon{display: none}


#container .leftBtn{position: absolute; bottom: 16px; left: 10px; overflow: hidden}
#container .leftBtn .leftArrow{display: block;float: left; width: 14px; height: 14px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_mi_left.png")}
#container .leftBtn .textSec{float: left; font-size: 12px;margin-left: 4px;}
#container .rightBtn{position: absolute; bottom: 16px; right: 10px; overflow: hidden}
#container .rightBtn .rightArrow{display: block;float: right; width: 14px; height: 14px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_mi_right.png")}
#container .rightBtn .textSec{float: right; font-size: 12px;margin-right: 4px;}

#container .contents_1 .content_5{position:absolute;float: none; background-color: #014d98;bottom: 0}
#container .contents_1 .content_5 h3{font-size: 13px; margin: 14px 0 0 16px; color:white}
#container .contents_1 .content_5 ul{width: 212px; margin: 0 auto; margin-top: 36px}
#container .contents_1 .content_5 ul a{color: white; font-weight: bold; font-size: 12px}
#container .contents_1 .content_5 .plusBtn{position: absolute; width:33px; height:33px;display: block; bottom: 20px; right: 16px; background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/plus.png")}


#container .contents_2{float:left;margin-top: 10px}
#container .contents_2:after{display: block; clear: both; content: ""}
#container .contents_2 .content_1{position: relative;float:left;width: 474px; height: 232px;border: 1px solid #8d8d8d; box-sizing: border-box;background-color: white}
.contents_2 .content_1 h3{font-size: 13px; margin:14px 0 0 16px}
.contents_2 .content_1 .topSec ul{overflow: hidden; position: absolute;height: 26px; top:8px; left:190px;font-size: 12px }
.contents_2 .content_1 .topSec li{float: left;display:block; width: 76px; height: 24px; text-align: center; line-height: 24px}
.contents_2 .content_1 .topSec li a{width: 76px; height: 24px; display: block}
.contents_2 .content_1 .topSec li:first-child a{background-color: #f08200; border: 1px solid #f08200; border-radius: 5px;color: white;behavior: url("PIE.htc")}
.contents_2 .content_1 .topSec .btnsArea{position: absolute; right: 10px; top: 14px;}
.btnsArea:after{display: block; content: ""; clear: both}
.btnsArea .leftBtn_2{display: block;float: left; width: 14px; height: 14px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_mi_left.png")}
.btnsArea .rightBtn_2{display: block;float: left;margin-left: 2px; width: 14px; height: 14px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/btn_mi_right.png")}
.contents_2 .content_1 .bottomSec{position:absolute;padding-bottom:12px;bottom: 0;width: 474px; border-top: 1px solid #8d8d8d}
.contents_2 .content_1 .bottomSec:after{display: block; clear: both; content: ""}
.contents_2 .content_1 .bottomSec .marketCon_1{display: block}
.contents_2 .content_1 .bottomSec .marketCon_2{display: none}
.contents_2 .content_1 .bottomSec .marketCon_3{display: none}

.content_1 .bottomSec .imgBox{float:left;margin-top:12px;margin-left:12px;display: block;width: 160px; height: 160px; border: 1px solid #8d8d8d;}
.content_1 .bottomSec dl{float:left; width: 272px; margin-top: 24px; margin-left: 14px}
.content_1 .bottomSec dt h2{font-size: 18px}
.content_1 .bottomSec dd{margin-top: 34px; font-size: 12px}



#container .contents_2 .content_2{position:relative;float:left;width: 232px; height: 232px;margin-left: 10px; border: 1px solid #8d8d8d;box-sizing: border-box;background-color: white}
.contents_2 .content_2 h3{font-size: 13px; margin: 14px 0 0 16px}
.contents_2 .content_2 .topSec:after{display: block; clear: both; content: ""}
.contents_2 .content_2 .topSec{margin-left: 16px;margin-top: 30px}
.contents_2 .content_2 .topSec img{float: left}
.contents_2 .content_2 .topSec dl{float: left; margin-left: 6px}
.contents_2 .content_2 .topSec dt{font-size: 14px; font-weight: bold; color: #f08200}
.contents_2 .content_2 .topSec dd{font-size: 14px; margin-top: 4px}
.contents_2 .content_2 p{display:block;width:200px;margin-top: 20px; font-size: 12px;margin-left: 16px;}
.contents_2 .content_2 .plusText{position:absolute;left:16px; bottom:16px;font-size: 12px; color: #f08200;}
.contents_2 .content_2 ul{position: absolute; overflow: hidden; top:12px; right: 16px}
.contents_2 .content_2 li{float: left;margin-left: 2px}
.contents_2 .content_2 ul a{display: block; width: 18px; height: 18px}
.contents_2 .content_2 .facebook{background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/icon_facebook.png")}
.contents_2 .content_2 .blog{background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/icon_blog.png")}
.contents_2 .content_2 .insta{background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/insta.png");border}

footer{position: relative; width: 100%;height: 210px; overflow:hidden;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/bg_footer.png"); font-size: 13px; color: white}
.footerSec{width: 1200px; margin: 0 auto}
.snsSec{display: none}
footer #leftSec{position:relative;padding-left: 196px; padding-top: 30px; width: 750px}
.leftLogo{position: absolute; left: 0}
.rightLogo{position: absolute; right: 0; bottom: 0}
footer #leftSec ul{margin-top: 20px; overflow: hidden}
footer #leftSec ul li{float: left; margin-top:10px}
footer #leftSec ul li:first-child{margin-top: 0}
footer #leftSec ul li span{margin-left: 20px}
footer .footerText_1{margin-top: 20px}

footer #rightSec{position:absolute;top:0;left:50%;width:100%;height:210px;margin-left:370px;background: url("https://raw.githubusercontent.com/rlftn510/G_data/master/jiransecurity/img/bg_footer2.png")}
footer #rightSec h2{margin-left: 20px; margin-top: 30px; font-size: 14px}
footer #rightSec ul{margin: 12px 0 0 20px; overflow: hidden; width: 220px;}
footer #rightSec ul li{width: 110px; float: left;margin-top: 8px}
footer #rightSec ul li:first-child{margin-top: }
footer #rightSec ul li a{font-size: 13px; color: white}
