#wrap{width: 800px; margin: 0 auto}
#starArea{position: relative; width: 260px; height:80px;margin:0 auto; margin-top: 150px }
#starArea #redStar{position: absolute; top: 15px; left: 12px; overflow: hidden; width:100% }
#starArea #whiteSrar{position: absolute; top:15px;left: 12px}
#btnArea{width: 233px; margin: 0 auto; margin-top: 20px}