*{margin:0;padding:0;font-family: Gulim;text-decoration: none;letter-spacing:-0.6px}
li{list-style: none}
.blind{width:0;height:0;opacity: 0;line-height: 0;font-size: 0}
a{color: black}

header{position:relative;height: 160px;width:1200px;margin: 0 auto}
header .logo{position: absolute; display: block;width:270px; height:60px;top:25px;left:465px;background: url("../img/sp-samsung.png") no-repeat 0 0}
header .call{position: absolute;top:42px;left: 0;overflow: hidden; width: 300px}
header .call:after{display: block; content: ""; clear: both}
header .call .callIcon{display: block; float:left;width: 26px; height: 26px; background: url("../img/sp-samsung.png") no-repeat -124px -62px}
header .call .callText{float:left;color: #666666;font-size: 12px; line-height: 25px;margin-left: 6px}
header .call .callText span{font-size: 14px; font-weight: bold; color: black;margin-left: 10px}
header .home ul{position:absolute;right:138px;top:49px;overflow: hidden;font-size: 12px;font-weight: bold;}
header .home ul li{float: left; margin-left: 20px;position: relative}
header .home ul li:first-child{margin-left: 0}
header .home ul .listLine:before{display: block; content: "";width: 1px; height: 11px; background-color: #666666; position: absolute; left: -10px; top:1px}
header .home ul li a{color: #666666}
header .language{position: absolute;right:0;top:42px;display:block;width: 122px;height: 26px; background: url("../img/sp-samsung.png") no-repeat 0 -63px}
header .menu{position: absolute;top:110px;width: 1200px; height: 50px;background-color: #ebe7e3}
header .menu ul{overflow: hidden}
header .menu ul li{float: left; font-size: 17px;margin-left: 72px; line-height: 52px}
header .menu ul li:first-child{margin-left: 49px}
header .menu ul li a{color: #666666; font-weight: bold;}
header .menu .reservation{display:block;position:absolute;bottom:0;right:0;width: 225px;height: 50px; background-color:#e07a3f;line-height: 52px;text-align: center; color: white; font-weight: bold }
header .menu .edge{position:absolute;bottom:50px;right:0;width: 225px; height: 3px; background-color: #ffa876;}
header .subMenu{position: relative; height: 40px; background-color: #7e7974; bottom: -160px}
header .subMenu ul{overflow: hidden; position: absolute; line-height: 40px; left: 49px}
header .subMenu ul li{position:relative;float: left; margin-left: 22px;}
header .subMenu ul li:before{display: block; content: "";width: 1px; height: 12px; background-color: #b4b4b4; position: absolute; left: -11px; top:15px}
header .subMenu ul li:first-child{margin-left: 0}
header .subMenu ul li a{color: #b4b3b2; font-size: 13px; font-weight: bold}
header .subMenu ul li:first-child a{color: white}



#container{width: 1200px; margin: 0 auto; ;margin-top: 40px; padding-bottom: 100px;position: relative}
#container .conHeader{position:relative;height: 75px}
#container .conHeader ul{position:absolute; right:0;overflow: hidden;top:28px}
#container .conHeader ul li{float: left; margin-left: 10px}
#container .conHeader ul li:first-child{margin-left: 0}
#container .conHeader ul li a{font-size: 14px}
#container .conHeader ul .homeIcon{margin-top:4px;display: inline-block; width:12px; height: 11px; background: url("../img/sp-samsung.png") no-repeat -475px 0 }

#container .nav{position:relative;float: left;}
#container .nav h2{display: block; width: 230px; height: 90px; background-color: #7e7974; color: white; text-align: center; line-height: 90px;font-size: 20px}
#container .nav ul{display: block; width: 230px; height: 154px;}
#container .nav ul li{height: 50px; border:  1px solid #e3e3e3; border-top:none;line-height: 50px}
#container .nav ul a{margin-left: 20px; font-weight: bold; font-size: 14px}
#container .nav ul a:first-child{color: #7e5637}
#container .nav .plusBtn{position:absolute;display: block; width: 10px; height: 6px;}
#container .nav .allRoom{width: 230px; height: 45px;margin-top: 20px; border: 1px solid #827265;box-sizing: border-box; font-size: 14px; font-weight: bold;  text-align: center; line-height: 45px}
#container .nav .allRoom a{color: #827265;}
#container .nav .plusBtn{display: block;width: 10px; height: 6px; position: absolute; top:214px; right: 20px; background: url("../img/sp-samsung.png") no-repeat -477px -24px}

#container .contents{margin-left: 290px}
#container .contents:after{display: block; content: ""; clear: both}
#container h1{font-size: 34px}
.contents:after{display: block;clear: both;content: ""}
#container .contents .content_1{width: 910px; height: 44px;margin-top: 30px}
#container .contents .content_1 ul{overflow: hidden}
#container .contents .content_1 ul li{float: left;width: 455px;border: 1px solid #8d8d8d; box-sizing: border-box;height: 44px; text-align: center; line-height: 44px;}
#container .contents .content_1 ul li a{ color:#7e5637; font-weight: bold}
.contents .mainVisual{width: 910px; height: 455px;overflow: hidden;margin-top: 20px}
.contents .mainVisual .slider{width:3640px}
.contents .mainVisual .slider>div{float: left; width: 910px; height: 455px}
.contents .mainVisual .slider .visual_1{width: 910px; height: 455px; background: url("../img/sub_main.png")}
.contents .mainVisual .btnsArea{position:relative;width: 850px; margin: 0 auto; top: 180px}
.contents .mainVisual .btnsArea .previousPage{position: absolute; top:0; left:0;display:block;width: 40px; height: 80px; background-color: rgba(0,0,0,0.3) }
.contents .mainVisual .btnsArea .previousPage .mark{display: block;margin: 25px 0 0 11px; width: 17px; height: 31px; background: url("../img/sp-samsung.png") no-repeat 0 -90px}
.contents .mainVisual .btnsArea .nextPage{position: absolute; top:0; right:0;display:block;width: 40px; height: 80px; background-color: rgba(0,0,0,0.3) }
.contents .mainVisual .btnsArea .nextPage .mark{display: block;margin: 25px 0 0 11px; width: 17px; height: 31px; background: url("../img/sp-samsung.png") no-repeat 0 -125px}

.contents .subVisual{width: 910px; height: 110px;margin-top: 10px}
.contents .subVisual ul{overflow: hidden}
.contents .subVisual ul li{float: left; width: 220px; height: 110px; margin-left: 10px}
.contents .subVisual ul li:first-child{margin-left: 0}
.contents .subVisual ul a{display: inline-block; width: 220px; height: 110px}
.contents .subVisual .visual_1{width: 220px; height: 110px;background: url("../img/sub_sub_visual_2.png")}

.contents .content_2{width: 910px; height: auto;margin-top: 40px}
.contents .content_2:after{display: block; clear: both; content: ""}
.contents .content_2 .leftSec{width: 500px; float: left}
.contents .content_2 .leftSec:after{display: block; clear: both; content: ""}
.contents .content_2 .leftSec .title{font-size: 20px}
.contents .content_2 .callText{font-size: 15px;margin-top:32px; font-weight: bold}
.contents .content_2 .callText span{font-size: 18px; font-weight: bold; color:#7e5637;margin-left: 10px}
.contents .content_2 .leftSec ul{margin-top: 32px}
.contents .content_2 .leftSec ul li{margin-top:10px}
.contents .content_2 .leftSec ul span{font-weight: bold}
.contents .content_2 .leftSec .bottomSec{margin-top:50px;width: 500px; height: 160px; border-top:1px solid black;border-bottom: 1px solid #e3e3e3; box-sizing: border-box}
.contents .content_2 .leftSec .bottomSec:after{display: block; clear: both;content: ""}
.contents .content_2 .leftSec .bottomSec .leftSec{float:left;width: 120px; height: 158px;border-bottom: 1px solid #e3e3e3;border-right: 1px solid #e3e3e3; text-align: center;font-size: 12px; line-height: 160px; background-color: #f7f7f7}
.content_2 .bottomSec .rightSec1 ul{float:left;margin-top: 30px; margin-left: 30px}
.content_2 .bottomSec .rightSec1 ul li{margin-top: 10px; font-size: 12px}
.content_2 .bottomSec .rightSec1 ul li:first-child{margin-top: 0}

.contents .content_2 .rightSec{float: left; width: 380px;margin-left: 30px}
.contents .content_2 .rightSec .detail{overflow: hidden}
.contents .content_2 .rightSec .detail li{float: left; display: inline-block; width: 120px; height: 40px; line-height: 40px;text-align: center;margin-left: 10px}
.contents .content_2 .rightSec .detail li:first-child{margin-left:0}
.contents .content_2 .rightSec .detail a{display: block; width: 120px; height: 40px; font-size: 14px; color: white;font-weight: bold}
.contents .content_2 .rightSec .btn_1{background-color: #c4aa89}
.contents .content_2 .rightSec .btn_2{background-color: #ad9480}
.contents .content_2 .rightSec .btn_3{background-color: #e07a3f}

.contents .content_2 .rightSec h2{font-size: 18px;margin-top: 30px}
.rightSec .bottomBox{position:relative;width: 380px; height: 336px;margin-top: 14px; background-color: #faf7ed}
.rightSec .bottomBox .headList{display:block;margin-left: 20px; font-size: 12px;position: absolute;}
.rightSec .bottomBox .headList p{font-weight: bold; margin-top: 18px}
.rightSec .bottomBox .headList ul{margin-left: 10px;margin-top: 10px}
.rightSec .bottomBox .headList ul li{margin-top: 10px}

.contents .content_3{margin-top: 40px}
.contents .content_3 h2{font-size: 18px}
.contents .content_3 .contentBox{position: relative}
.contents .content_3 .contentBox:after{display: block;clear: both;content: ""}
.contents .content_3 .visual{display:block;float:left;width: 305px; height: 185px; background: url("../img/bottomVisual.png")}
.contents .content_3 .rightSec{margin-left:305px;width: 606px; height: 185px; border: 1px solid #e3e3e3; box-sizing: border-box; border-left:none }
.contents .content_3 dl{margin-top:40px; margin-left: 30px; font-size: 18px}
.contents .content_3 dl dd{margin-top: 20px}
.contents .content_3 .plusBtn{position: absolute; right: 50px; top:72px; display: block; width: 39px; height: 39px;background: url("../img/sp-samsung.png") no-repeat -502px 0}

.snsSec ul{overflow: hidden; margin-top: 30px; position: absolute; right: 0}
.snsSec ul li{float: left; margin-left: 10px}
.snsSec ul li:first-child{margin-left: 0}
.snsSec ul a{display: block; width: 28px; height: 28px}
.facebook{background: url("../img/sp-samsung.png") no-repeat -543px 0}
.blog{background: url("../img/sp-samsung.png") no-repeat -573px 0}
.kakao{background: url("../img/sp-samsung.png") no-repeat -603px 0}


footer{height: 224px; width: 1200px; margin: 0 auto}
footer .topCon{position:relative;height: 95px; background-color: #ebe7e3}
footer .topCon .test1{ position: relative; margin: auto;height: 95px;}
footer .topCon .test1 .logo_1{position:absolute;top:15px;left:10px;display: block; width: 96px; height: 66px; background: url("../img/sp-samsung.png") no-repeat -318px 0}
footer .topCon .test1 ul{position:absolute;top:42px; left:150px;overflow: hidden; font-size: 14px; font-weight: bold}
footer .topCon .test1 ul li{float: left; margin-left: 20px; color: #666666;position: relative}
footer .topCon .test1 ul li:first-child{margin-left: 0}
footer .topCon .test1 ul li:before{display: block; content: "";width: 1px; height: 12px; background-color: #bbbbbb; position: absolute; left: -10px; top:2px}
footer .topCon .test1 ul a{color: #666666}
footer .topCon .test1 .logo_2{position: absolute;width:132px; height:22px;top:38px; right: 20px; display: block; background: url("../img/sp-samsung.png") no-repeat -318px -89px}
footer .bottomCon{position: relative; width: 1920px; margin: 0 auto}
footer .bottomCon .information{position:absolute;top:16px; left:10px;overflow: hidden;font-size: 14px; color: #666666;font-weight: bold}
footer .bottomCon .information li{float: left; margin-left: 22px;position: relative}
footer .bottomCon .information li:first-child{margin-left: 0}
footer .bottomCon .information li:before{display: block; content: "";width: 1px; height: 12px; background-color: #666666; position: absolute; left: -11px; top:2px}
footer .bottomCon .line{position:absolute;top:46px;left:10px;width: 1200px; border-top:1px solid #f2f2f2; border-bottom: 0;box-sizing: border-box}
footer .bottomCon .information_2{position:absolute;top:64px; left:10px;overflow: hidden;font-size: 14px; color: #666666;}
footer .bottomCon .information_2 li{float: left; margin-left: 22px;position: relative}
footer .bottomCon .information_2 li:first-child{margin-left: 0}
footer .bottomCon .information_2 li:before{display: block; content: "";width: 1px; height: 12px; background-color: #666666; position: absolute; left: -11px; top:2px}
footer .bottomCon p{position: absolute; top:88px; left: 10px; font-size: 14px; color: #666666}


